@* @model PolarisContacts.Domain.Entidades.Pessoa

        <center><span id="erroComentario" class="text-danger" style="font-size:14px"></span></center>

        <h6 class="title-form">Dados pessoais do(a) pessoa(a)</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">Nome*</span>
                    <input asp-for="Nome" class="i-form-input validaDados" id="txtNome" />
                    <span asp-validation-for="Nome" id="txtNome-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group group-margin">
                    <span class="label-form">Data Nascimento*</span>
                    <input type="text" asp-for="DataNascimento" class="i-form-input validaDados datemask" id="txtDataNascimento" />
                    <span asp-validation-for="DataNascimento" id="txtDataNascimento-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group group-margin">
                    <span class="label-form">Genero*</span>
                    <select asp-for="Genero" class="i-form-input validaDados" id="txtGenero">
                        <option value="">Selecione</option>
                        <option value="M">Masculino</option>
                        <option value="F">Feminino</option>
                    </select>
                    <span asp-validation-for="Genero" id="txtGenero-Erro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group group-margin"></div>
            </div>
        </div>
        <br />
        <h6 class="title-form">Endereço</h6>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">CEP*</span>
                    <input asp-for="CEP" class="i-form-input validaDados consulta-cep cepmask validaCep" id="txtCEP" />
                    <span asp-validation-for="CEP" id="txtCEP-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">Logradouro*</span>
                    <input asp-for="Logradouro" class="i-form-input  consulta-logradouro validaDados" id="txtLogradouro" />
                    <span asp-validation-for="Logradouro" id="txtLogradouro-Erro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group group-margin">
                    <span class="label-form">Número*</span>
                    <input asp-for="Numero" class="i-form-input validaDados" id="txtNumero" />
                    <span asp-validation-for="Numero" id="txtNumero-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group group-margin">
                    <span class="label-form">Complemento</span>
                    <input asp-for="Complemento" class="i-form-input" id="txtComplemento" />
                    <span asp-validation-for="Complemento" id="txtComplemento-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">Bairro*</span>
                    <input asp-for="Bairro" class="i-form-input validaDados consulta-bairro" id="txtBairro" />
                    <span asp-validation-for="Bairro" id="txtBairro-Erro" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">Estado*</span>
                    <select class="i-form-input validaDados consulta-estado" id="txtEstado" placeholder="Estado">
                    </select>
                    <span asp-validation-for="Estado" id="txtEstado-Erro" class="text-danger"></span>
                    <input type="hidden" asp-for="Estado" id="hidenEstado">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group group-margin">
                    <span class="label-form">Cidade*</span>
                    <select class="i-form-input validaDados consulta-cidade" id="txtCidade">
                    </select>
                    <span asp-validation-for="Cidade" id="txtCidade-Erro" class="text-danger"></span>
                    <input type="hidden" asp-for="Cidade" id="hidenCidade">
                </div>
            </div>
        </div>
        
        <h6 class="title-form">Contatos</h6>
        <div class="row">
            <div class="col-3 col-md-1" style="padding-right: 0">
                <div class="form-group group-margin">
                    <span class="label-form">DDD*</span>
                    <input asp-for="DDDTelefoneResidencial" class="i-form-input dddmask" id="txtDDDTelefoneResidencial" />
                    <span asp-validation-for="DDDTelefoneResidencial" id="txtDDDTelefoneResidencial-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-9 col-md-5">
                <div class="form-group group-margin">
                    <span class="label-form">Telefone Residencial*</span>
                    <input asp-for="NumeroTelefoneResidencial" class="i-form-input validaDadosContato telefonemask" id="txtNumeroTelefoneResidencial" />
                    <span asp-validation-for="NumeroTelefoneResidencial" id="txtNumeroTelefoneResidencial-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-3 col-md-1" style="padding-right: 0">
                <div class="form-group group-margin">
                    <span class="label-form">DDD*</span>
                    <input asp-for="DDDCelular" class="i-form-input dddmask" id="txtDDDCelular" />
                    <span asp-validation-for="DDDCelular" id="txtDDDCelular-Erro" class="text-danger"></span>
                </div>
            </div>
            <div class="col-9 col-md-5">
                <div class="form-group group-margin">
                    <span class="label-form">Celular*</span>
                    <input asp-for="NumeroCelular" class="i-form-input validaDadosContato celularmask" id="txtNumeroCelular" />
                    <span asp-validation-for="NumeroCelular" id="txtNumeroCelular-Erro" class="text-danger"></span>
                </div>
            </div>           
        </div>
        <div class="row">
            <div class="col-md-6" style="padding-right: 0">
                <div class="form-group group-margin">
                    <span class="label-form">E-mail*</span>
                    <input asp-for="Email" class="i-form-input validaDados" id="txtEmail" />
                    <span asp-validation-for="Email" id="txtEmail-Erro" class="text-danger"></span>
                </div>
            </div>
        </div>

<div class="footer-pages" id="footer-etapas">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-6 block-button">
                <input type="button" id="btninserir" value="Confirmar" class="customer-btn" />
            </div>
        </div>
    </div>
</div>


<script>
    $(document).ready(function () {
        AcionandoMascaras();
    });
</script>


<script>
    $(document).on('change', '.consulta-cep', function () {
        var reference = $(this);

        var ret = ValidarCEP(reference.val());

        if (ret == false) {
            $("#" + $(this)[0].id).addClass("form-error");
            $("#" + $(this)[0].id + "-Erro").text("CEP INVÁLIDO");
        }
        else {
            $("#" + $(this)[0].id).removeClass("form-error");
            $("#" + $(this)[0].id + "-Erro").text("");

            $.ajax({
                method: 'GET',
                url: '@Url.Action("ConsultarCEP", "Home")',
                data: {
                    cep: reference.val()
                },
                success: function (data) {
                    if (data != null) {
                        $(document).find(".consulta-logradouro:visible").val(data.logradouro);
                        $(document).find(".consulta-bairro:visible").val(data.bairro);
                        SelecionarOpcaoPorTexto($(document).find(".consulta-estado:visible"), data.estado);
                        $("#hideCodigoCEP").val(data.codigo);
                        setTimeout(function () {
                            SelecionarOpcaoPorTexto($(document).find(".consulta-cidade:visible"), data.cidade);
                        }, 300)
                    }
                }
            });
        }
    });

    function PegaCampoDDD(campo) {
        //MUDA O NOME PARA O CAMPO DDD DO MESMO
        campo = campo.match(/[A-Z][a-z]+|[0-9]+/g).join(" ");
        campo = campo.replace("Numero", "DDD");
        campo = campo.replace(/\s/g, '');
        campo = "#txt" + campo;

        return campo;
    }

    function LimparValidacao(campo) {
        $(campo + + "-Erro").text('');
        $(campo).removeClass("form-error");
    }

    function ValidarPrenchimento(classe, msg) {
        var erros = 0;

        $(classe).each(function (index) {

            LimparValidacao("#" + $(this)[0].id);

            if ($(this).val() == "") {
                erros++;
                $("#" + $(this)[0].id).addClass("form-error");
                $("#" + $(this)[0].id + "-Erro").text(msg);
                $("#" + $(this)[0].id).focus();
            }
        });

        if (erros > 0)
            return true;
    }

    function ValidarCEP(cep) {
        var retorno = false;

        $.ajax({
            method: 'GET',
            async: false,
            url: '@Url.Action("ValidarCEP", "Home")',
            data: {
                cep: cep
            },
            success: function (data) {
                retorno = data;
            }
        });

        return retorno;
    }

    function ValidarPrenchimentoContato(classe, msg) {
        var erros = 0;
        var DDDNumeroPreenchidos = 0;

        $(classe).each(function (index) {
            var DDD = PegaCampoDDD($(this)[0].id);

            LimparValidacao("#" + $(this)[0].id);
            LimparValidacao(DDD);
        });

        $(classe).each(function (index) {
            var DDD = PegaCampoDDD($(this)[0].id);

            if ($(this).val() != "") {

                $(classe).each(function (index) {
                    LimparValidacao("#" + $(this)[0].id);
                    LimparValidacao(DDD);
                });

                if (ValidarPrenchimentoDDD(DDD, "")) {
                    erros++
                    $("#erroComentario").text("OBRIGATÓRIO PREENCHER O DDD DO NÚMERO PREENCHIDO!");
                }
                else
                    DDDNumeroPreenchidos++;
            }
            else {
                var numerosPreenchidos = 0;

                $(classe).each(function (index) {
                    if ($(this).val() != "") {
                        numerosPreenchidos++;
                    }
                });

                if (numerosPreenchidos == 0) {
                    erros++;
                    $("#" + $(this)[0].id).addClass("form-error");
                    $("#" + $(this)[0].id + "-Erro").text(msg);
                    $("#" + $(this)[0].id).focus();
                }
            }
        });

        if (erros > 0)
            return true;

        if (DDDNumeroPreenchidos > 0)
            return false;
    }

    function ValidarPrenchimentoDDD(DDD, msg) {
        var erros = 0;

        LimparValidacao(DDD);

        if ($(DDD).val() == "") {
            erros++;
            $(DDD).addClass("form-error");
            $(DDD + "-Erro").text(msg);
            $(DDD).focus();

        }

        if (erros > 0)
            return true;
        else
            return false;
    }

    $(document).on('click', '#btninserir', function () {
        if (ValidarPrenchimento(".validaDados", "")) {
            $("#erroComentario").text("NECESSÁRIO PREENCHER CORRETAMENTE OS CAMPOS ABAIXO!");
            return;
        }

        if (ValidarPrenchimentoContato(".validaDadosContato", "")) {
            $("#erroComentario").text("OBRIGATÓRIO PREENCHER AO MENOS UM NÚMERO PARA CONTATO!");
            return;
        }

        if (!ValidarCEP($("#txtCEP").val())) {
            $("#txtCEP").addClass("form-error");
            $("#txtCEP-Erro").text("CEP INVÁLIDO");
            $("#erroComentario").text("CEP INVÁLIDO!");
            $("#txtCEP").focus();
            return;
        }

        $("#erroComentario").text("");

        var dados = {
            Nome: $("#txtNome").val(),
            Genero: $("#txtGenero").val(),
            DataNascimento: $("#txtDataNascimento").val(),
            Estado: $("#hidenEstado").val(),
            Cidade: $("#txtCidade").val(),
            Bairro: $("#txtBairro").val(),
            Logradouro: $("#txtLogradouro").val(),
            Complemento: $("#txtComplemento").val(),
            Numero: $("#txtNumero").val(),
            CEP: $("#txtCEP").val(),
            CodigoCEP: $("#hideCodigoCEP").val(),
            DDDTelefoneResidencial: $("#txtDDDTelefoneResidencial").val(),
            NumeroTelefoneResidencial: $("#txtNumeroTelefoneResidencial").val(),
            DDDCelular: $("#txtDDDCelular").val(),
            NumeroCelular: $("#txtNumeroCelular").val(),
            Email: $("#txtEmail").val()
        };

        $.ajax({
            method: 'POST',
            url: '@Url.Action("Inserir", "Home")',
            data: pessoa,
            success: function (data) {
                ResponsaveisSectionExibir();
            },
            error: function (data) {
                $("#NotificacaoErroConfirmar").fadeIn();
            }
        })

        $("#btninserir").hide();
        window.scrollTo(0, 0);
    });
</script> *@