@{
    ViewData["Title"] = "Index";
    ViewData["Etapa"] = "";
}

@*//////////////////////Mensagens de Tela///////////////////////////////////*@
<div class="row-alert" id="NotificacaoErroConfirmar" style="display:none;">
    <div class="alert alert-danger">
        OPS, OCORREU UM ERRO NA CONFIRMAÇÃO DOS DADOS. <strong>TENTE NOVAMENTE</strong>
    </div>
</div>

<div id="erroInfo" style="display:none;">
    <br />
    <center>
        <div class="menu-title" style="font-size:18px !important;">
            Revisar as informações, preenchidas no formulário!
        </div>
    </center>
    <br />
</div>

@*////////////////////////////Apresentação/////////////////////////*@
<div id="sectionApresentacao">
    <header class="apresentacao">
        <h2>Dados de Matrícula</h2>
    </header>
    <main class="content-apresentacao">
        <p>Olá,</p>
        <p class="text-space"><b>Esperamos que você e sua família estejam bem.</b></p>
        <div class="apresentacao-text">
            <p>
                Pensando na sua facilidade, inicialmente realizamos a matrícula apenas com os dados principais.
                Agora, para finalizar este processo, é <b>muito importante</b> completar as informações e dados de cadastro restantes.
            </p>

            <p class="text-bottom">Para completar a matrícula, é só seguir as etapas abaixo:</p>
        </div>
        <ul class="list-item-central">
            <li>
                <span class="number first">1</span>
                <p class="list-title">
                    <span>Completar dados</span><br />
                    Pessoa(A) e responsáveis
                </p>
            </li>

            <li>
                <span class="number">2</span>
                <p class="list-title">
                    <span>Upload de documentos</span><br />
                    Pessoa(A) e responsável financeiro
                </p>
            </li>
        </ul>
        <p class="text-button">
            Veja os
            <span class="link-upload" onclick="ConsultarDocumentosNecessarios()">documentos necessários</span>
            para completar a matrícula.
        </p>
        <div class="footer">
            <center><input type="button" class="btn-iniciaApp i-form-btn" value="Iniciar" id="btnIniciar" /></center>
        </div>
    </main>
</div>