@import './main';

.apresentacao {
    h2 {
        font: 38px/42px 'Metronic Slab Pro Regular';
        color: $PRIMARY_COLOR;
        text-align: center;
        padding-bottom: 20px;
    }
}

.content-apresentacao {
    padding: 30px 0;

    p {
        font: 20px/24px 'Roboto';
        text-align: center;
        color: map_get($COLORS_GREY, primary);
    }

    .text-space {
        padding-top: 10px;
    }

    .apresentacao-text {
        padding: 30px 0 40px 0;
        max-width: 780px;
        margin: 0 auto;

        p {
            font: 18px/24px 'Roboto';
        }

        .text-bottom {
            font: 20px/24px 'Roboto';
            color: map_get($COLORS_GREY, secondary);
            padding: 30px 0;
        }
    }

    .text-button {
        font: 18px/26px 'Roboto';
        padding: 0 0 60px 60px;

        .link-upload {
            color: $PRIMARY_COLOR;
            text-decoration: underline;
            cursor: pointer;
            transition: color .2s ease-out;

            &:hover {
                color: map_get($COLORS_GREY, secondary);
            }
        }
    }

    .btn-iniciaApp {
        width: 60%;
        background-color: transparent !important;
        border: solid 2px $PRIMARY_COLOR;
        color: $PRIMARY_COLOR;        
        font: 18px/24px 'Gotham Medium';
        text-align: center;

        &:hover {
            border: solid 2px $PRIMARY_COLOR;
            background-color: $PRIMARY_COLOR !important;
            color: $BLACK;
        }
    }
}

.list-item-central {
    max-width: 610px;
    margin: 0 auto;

    li {
        text-transform: uppercase;
        list-style: none;
        display: flex;

        &:first-child {
            margin-bottom: 40px;
        }

        .number {
            font: 28px 'Metronic Slab Pro Light';
            color: $PRIMARY_COLOR;
            width: 64px;
            height: 64px;
            padding: 10px 20px;
            text-align: center;
            margin-right: 25px;
            border: solid 1px map_get($COLORS_GREY, tertiary);

            &.first {
                position: relative;
                &:after {
                    content: '';
                    width: 1px;
                    height: 47px;
                    background-color: map_get($COLORS_GREY, tertiary);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                }
            }
        }

        .list-title {
            font: 26px/28px 'Metronic Slab Pro Light';
            text-align: left;
            span {
                font: 18px/22px 'Metronic Slab Pro Light';
            }
        }
    }
}

@media (max-width: 375px) {
    .list-item-central li .number {
        font: 24px "Metronic Slab Pro Light";
        width: 50px;
        height: 50px;
        padding: 8px 15px;
        margin-right: 15px;
    }

    .list-item-central li .list-title span {
        font: 16px/22px "Metronic Slab Pro Light";
    }

    .list-item-central li:first-child {
        margin-bottom: 30px;
    }

    .list-item-central li .number.first:after {
        height: 79px;
    }

    .list-item-central li .list-title {
        font: 20px/28px "Metronic Slab Pro Light";
    }

    .content-apresentacao .text-button {
        text-align: left;
        padding: 0 0 40px 60px;
    }

    .content-apresentacao .apresentacao-text {
        padding: 30px 0 20px 0;
    }

    .content-apresentacao .btn-iniciaApp {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .content-apresentacao .btn-iniciaApp {
        width: 100%;
    }

    .list-item-central li .number.first:after {
        height: 75px;
    }
}
