/*Colors*/
$PRIMARY_COLOR: #29F4D5;
$SECONDARY_COLOR: red;

$COLORS_GREY: ( 
    primary: #91A3AD, 
    secondary: #E4E4E4,
    tertiary: #485156, 
    quaternary: #616D72);


$WHITE: #ffffff;
$BLACK: #000000;

/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@font-face {
    font-family: 'Gotham Book';
    src: url("../dist/desktop/fonts/gothamhtf-book-webfont.ttf");
}

@font-face {
    font-family: 'Gotham Medium';
    src: url("../dist/desktop/fonts/gothamhtf-medium-webfont.ttf");
}

@font-face {
    font-family: 'Metronic Slab Pro Regular';
    src: url("../dist/desktop/fonts/Metronic-Slab-Pro-Regular.otf");
}

@font-face {
    font-family: 'Metronic Slab Pro Light';
    src: url("../dist/desktop/fonts/Metronic-Slab-Pro-Light.otf");
}

