@import '../variables';

.customer-btn {
    font: 15px 'Gotham Medium';
    text-transform: uppercase;
    border: solid 2px $PRIMARY_COLOR;
    color: $PRIMARY_COLOR;
    padding: 8px 90px;
    transition: background .4s, border-color .4s, color .4s;

    &:hover {
        background-color: $PRIMARY_COLOR;
        color: $BLACK;
    }
}

.footer-pages {
    background-color: $BLACK;
    width: 100%;
    height: 80px;
    padding: 20px 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: opacity .4s ease;

    &.show {
        opacity: 1;
    }
}

.block-button {
    text-align: right;
}

@media(max-width: 375px) {
    .footer-pages {
        font: 11px "Gotham Book";
        padding-right: 20px;
    }

    .footer-pages {
        width: 135px;
    }
}
    
@media (max-width: 500px) {
    .footer-pages {
       padding: 10px 0;
       height: 100px;        
    }

    .customer-btn {
        width: 100%;
        padding: 6px 0;
    }
}

