@import 'variables-polaris.scss';

//Menu
.menu {
    border-bottom: 1px solid rgba(0,0,0,0.125);
    padding: 25px 0;
    width: 100%;
}

.menu-content {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    margin: 0 auto;
    width: 90%;
}

.menu-link {
    border-right: 2px solid $PRIMARY_COLOR;
    box-sizing: content-box;
    display: block;
    height: 25px;
    margin: 10px 20px 10px 0;
    padding-right: 20px;
    width: 95px;
}

.menu-link {
    svg {
        fill: $PRIMARY_COLOR;
        width: 95px;
    }
}

.menu-title {
    font: 32px 'Metronic Slab Pro Regular';
    color: $PRIMARY_COLOR;
    display: block;
    letter-spacing: 1px;
}

@media (max-width: 500px) {
    .menu-title {
        font: 18px 'Metronic Slab Pro Regular';
    }

    .menu-content {
        width: 85%;
    }
}

//Home
body {
    background: #011425 url("image/background.png") center no-repeat;
    background-attachment: fixed;
    font: 14px/22px 'Gotham HTF Book';
    min-height: 100vh;
    overflow-x: hidden;
    width: 100%;
}

.apresentacao {
    h2 {
        font: 38px/42px 'Metronic Slab Pro Regular';
        color: $PRIMARY_COLOR;
        text-align: center;
        padding-bottom: 20px;
    }
}

.content-apresentacao {
    padding: 30px 0;

    p {
        font: 20px/24px 'Roboto';
        text-align: center;
        color: map_get($COLORS_GREY, primary);
    }

    .text-space {
        padding-top: 10px;
    }

    .apresentacao-text {
        padding: 30px 0 40px 0;
        max-width: 780px;
        margin: 0 auto;

        p {
            font: 18px/24px 'Roboto';
        }

        .text-bottom {
            font: 20px/24px 'Roboto';
            color: map_get($COLORS_GREY, secondary);
        }
    }

    .text-button {
        font: 18px/26px 'Roboto';
        padding: 0 0 60px 17px;

        .link-upload {
            color: $PRIMARY_COLOR;
            text-decoration: underline;
            cursor: pointer;
            transition: color .2s ease-out;

            &:hover {
                color: map_get($COLORS_GREY, secondary);
            }
        }
    }

    .btn-iniciaApp {
        font: 18px/24px 'Gotham Medium';
        color: $PRIMARY_COLOR !important;
        text-align: center;
        width: 52%;
        background-color: transparent !important;
        border: solid 2px $PRIMARY_COLOR;

        &:hover {
            color: $BLACK !important;
            border: solid 2px $PRIMARY_COLOR;
            background-color: $PRIMARY_COLOR !important;
        }
    }
}

.list-item-central {
    max-width: 650px;
    margin: 0 auto;

    li {
        text-transform: uppercase;
        list-style: none;
        display: flex;

        &:first-child {
            margin-bottom: 40px;
        }

        .number {
            font: 28px 'Metronic Slab Pro Light';
            color: $PRIMARY_COLOR;
            width: 64px;
            height: 64px;
            padding: 10px 20px;
            text-align: center;
            margin-right: 25px;
            border: solid 1px map_get($COLORS_GREY, tertiary);

            &.first {
                position: relative;

                &:after {
                    content: '';
                    width: 1px;
                    height: 47px;
                    background-color: map_get($COLORS_GREY, tertiary);
                    position: absolute;
                    top: 100%;
                    left: 50%;
                }
            }
        }

        .list-title {
            font: 26px/28px 'Metronic Slab Pro Light';
            text-align: left;

            span {
                font: 18px/22px 'Metronic Slab Pro Light';
            }
        }
    }
}

::-webkit-scrollbar-thumb {
    background: $PRIMARY_COLOR !important;
}

::-webkit-scrollbar-track {
    background: map_get($COLORS_GREY, quaternary);
}

@media (max-width: 375px) {
    .list-item-central li .number {
        font: 24px "Metronic Slab Pro Light";
        width: 50px;
        height: 50px;
        padding: 8px 15px;
        margin-right: 15px;
    }

    .list-item-central li .list-title span {
        font: 16px/22px "Metronic Slab Pro Light";
    }

    .list-item-central li:first-child {
        margin-bottom: 30px;
    }

    .list-item-central li .number.first:after {
        height: 79px;
    }

    .list-item-central li .list-title {
        font: 20px/28px "Metronic Slab Pro Light";
    }

    .content-apresentacao .text-button {
        text-align: left;
        padding: 0 0 40px 60px;
    }

    .content-apresentacao .apresentacao-text {
        padding: 30px 0 20px 0;
    }

    .content-apresentacao .btn-iniciaApp {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .content-apresentacao p {
        text-align: left;
    }

    .content-apresentacao .btn-iniciaApp {
        width: 100%;
    }

    .list-item-central li .number.first:after {
        height: 75px;
    }

    .content-apresentacao .text-button {
        padding: 20px 0 60px 81px;
    }
}


@media (max-width: 375px) {
    .content-apresentacao .text-button {
        padding: 20px 0 30px 0;
    }
}


//Footer
.inserir-btn {
    font: 15px 'Gotham Medium';
    text-transform: uppercase;
    border: solid 2px $PRIMARY_COLOR;
    color: $PRIMARY_COLOR;
    padding: 8px 90px;
    transition: background .4s, border-color .4s, color .4s;

    &:hover {
        background-color: $PRIMARY_COLOR;
        color: $BLACK;
    }
}

.footer-pages {
    background-color: $BLACK;
    width: 100%;
    height: 80px;
    padding: 20px 0;
    opacity: 0;
    position: fixed;
    bottom: 0;
    left: 0;
    transition: opacity .4s ease;

    &.show {
        opacity: 1;
    }
}

.block-button {
    text-align: right;
}

@media(max-width: 375px) {
    .footer-pages {
        font: 11px "Gotham Book";
        padding-right: 20px;
    }

    .footer-pages {
        width: 135px;
    }
}

@media (max-width: 500px) {
    .footer-pages {
        padding: 10px 0;
        height: 100px;
    }

    .inserir-btn {
        width: 100%;
        padding: 6px 0;
    }
}

//Modais
.modal {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.bootbox-close-button {
    &.close {
        font-family: 'Gotham Medium';
        color: $PRIMARY_COLOR !important;
        opacity: 1;
        font-size: 30px;
        text-shadow: none;
        position: relative;
        font-weight: normal;

        &:before {
            content: 'FECHAR';
            font-size: 16px;
            position: absolute;
            top: 36%;
            right: 37px;
            color: $PRIMARY_COLOR;
        }

        &:focus {
            outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }
    }
}

.modal-open {
    background: $BLACK_LIGHT;
}

.modal-title {
    font: 30px/33px 'Gotham Medium';
    color: $PRIMARY_COLOR;
    text-transform: uppercase;

    span {
        font: 20px/22px 'Gotham Book';
        display: block;
        padding-left: 50px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            width: 44px;
            height: 1px;
            background-color: $PRIMARY_COLOR;
        }
    }
}

@media (max-width: 500px) {
    .modal-title {
        margin-top: 50px;
    }
}

.modal-content {
    background-color: $BLACK_LIGHT;
    border: solid 1px $BLACK_LIGHT;
    color: #ffffff;
    border-radius: 0;
}

.modal-content .i-form-input {
    color: #000000;
}

.modal-header {
    border-bottom: 0;
    padding: 2rem 3rem 0
}

.modal-header h4 {
    color: $PRIMARY_COLOR;
    font: 20px 'Gotham HTF Bold';
    text-transform: uppercase;
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    border-top: none;
    padding: .5rem 2rem 1rem;
}

/*Modal Home - Docs Necessários*/
.modal-docs-necessarios {
    display: flex;
    justify-content: center;

    .content-modal {
        max-width: 650px;
        margin: 30px 0;

        div {
            margin-bottom: 10px;
        }

        p {
            font: 16px/22px 'Gotham Book';
            color: map_get($COLORS_GREY, secondary);

            span {
                font: 13px 'Gotham Book';
                color: map_get($COLORS_GREY, primary);
                display: block;
                padding-top: 7px;
            }
        }
    }
}

@media (max-width: 500px) {
    .bootbox-close-button.close {
        font-size: 20px;

        &:before {
            font-size: 14px;
        }
    }
}

//Formularios
.title-form {
    font: 24px/26px "Metronic Slab Pro Light";
    color: $PRIMARY_COLOR;
    padding: 20px 0 30px 0;
}

.card-section {
    font: 32px/34px "Metronic Slab Pro Regular";
    color: map_get($COLORS_GREY, primary);
    text-align: center;
    letter-spacing: 0.03em;

    &:first-child {
        margin-right: 80px;
    }
}

.card-section-active {
    color: $PRIMARY_COLOR;
    border-bottom: 3px solid $PRIMARY_COLOR;
}

.label-informativa-etapas {
    display: flex;
    align-content: center;
    justify-content: center;
}

.section-group {
    box-sizing: border-box;
    margin-top: 4em;
}

.label-form {
    font: 16px/20px 'Gotham Medium';
    color: map_get($COLORS_GREY, primary);
    text-transform: uppercase;
    padding-left: 10px;
}

.i-form-input {
    margin-top: 10px;
    padding: 5px 15px !important;
    font: 18px 'Roboto' !important;
    color: map_get($COLORS_GREY, quaternary) !important;
}

.block-question,
.block-expl,
.block-expl2,
.block-expl3 {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    align-items: center;
    margin-top: 10px;
}

.svg-question {
    width: 20px;
    height: 20px;
    border: solid 1px $PRIMARY_COLOR;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 10px;

    svg {
        fill: $PRIMARY_COLOR;
    }
}

.text-question,
.text-expl,
.text-expl2,
.text-expl3 {
    font: 14px 'Gotham Medium';
    color: $PRIMARY_COLOR;
    text-transform: uppercase;
    margin-bottom: 0;
}

.answer-question,
.answer-expl,
.answer-expl2,
.answer-expl3 {
    font: 16px 'Roboto';
    color: map_get($COLORS_GREY, primary);
    opacity: 1;
    position: absolute;
    top: 35px;
    display: none;
}

.etapa-dados {
    .title-etapa-dados {
        font: 15px 'Gotham Medium';
        color: map_get($COLORS_GREY, primary);
        text-align: center;
        text-transform: uppercase;
        padding-bottom: 45px;
    }
}

.block-forms {
    border: solid 1px map_get($COLORS_GREY, tertiary);
    padding: 25px 35px;
}

.name-details {
    h2 {
        font: 26px/30px 'Metronic Slab Pro Light';
        color: map_get($COLORS_GREY, secondary);
    }
}

.secFinan-info {
    padding-top: 50px;
}

.menu-title--details {
    font: 16px/20px 'Gotham Medium';
    color: $PRIMARY_COLOR;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;

    span {
        width: 168px;
        position: absolute;
        right: 0;
        display: block;
        transition: opacity .4s ease;
        cursor: pointer;
    }

    .close-details {
        opacity: 0;

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
    }

    .open-details {

        &.show {
            opacity: 1;
        }

        &.hide {
            opacity: 0;
        }
    }
}

.text-danger {
    font: 14px/18px 'Gotham Medium';
}

.secFinan-info--label {
    font: 16px/20px 'Gotham Medium';
    color: map_get($COLORS_GREY, primary);
    text-transform: uppercase;
}

.group-margin {
    margin-bottom: 2rem;
}

.form-error {
    border: 1px solid red !important;
}

.i-form-checkbox-bullet, .i-form-radio-bullet {
    width: 24px;
    height: 24px;
    border: 2px solid map_get($COLORS_GREY, quaternary) !important;
    border-radius: 50%;
}

.i-form-checkbox-bullet:after, .i-form-radio-bullet:after {
    background-color: map_get($COLORS_GREY, quaternary) !important;
    border-radius: 50%;
}

.i-form-checkbox .option-title {
    font: 18px "Metronic Slab Pro Light";
    color: map_get($COLORS_GREY, secondary);
    text-transform: capitalize;
}

.title-infos-mg {
    margin-top: 30px;
    margin-bottom: 20px;
}

.i-form-input {
    color: map_get($COLORS_GREY, quaternary) !important;
    background-color: transparent !important;
    width: 100% !important;
    margin-bottom: 15px !important;
    box-sizing: border-box !important;
    padding-top: 5px !important;
    border-radius: 0 !important;
    border: 1px solid map_get($COLORS_GREY, tertiary) !important;
}

.link-centraldocumentos {
    color: $PRIMARY_COLOR;
}

.link-centraldocumentos:hover {
    color: $WHITE;
}

.i-form-label {
    font-family: Gotham HTF !important;
    font-style: normal !important;
    font-weight: normal !important;
    font-size: 11px !important;
    line-height: 20px !important;
    text-transform: uppercase !important;
    color: map_get($COLORS_GREY, primary) !important;
}

.form-error {
    border: solid 1px #ca374f !important;
}

@media (max-width: 768px) {
    .label-form {
        font: 12px/16px "Gotham Medium";
    }

    .inserir-btn {
        padding: 8px 14px;
    }

    .secFinan-info--label {
        font: 12px/16px "Gotham Medium";
    }

    .i-form-checkbox .option-title {
        font: 16px "Metronic Slab Pro Light";
    }

    .answer-question, .answer-expl, .answer-expl2, .answer-expl3 {
        font: 14px "Roboto";
        top: 50px;
    }
}

@media (max-width: 500px) {
    .card-section {
        font: 24px/24px "Metronic Slab Pro Regular";
    }

    .card-section:first-child {
        margin-right: 20px;
    }

    .title-form {
        font: 20px "Metronic Slab Pro Light";
        padding: 0 0 20px 0;
    }

    .group-margin {
        margin-bottom: 0;
    }

    .label-form {
        font: 14px/18px "Gotham Medium";
    }

    .answer-question,
    .answer-expl,
    .answer-expl2,
    .answer-expl3 {
        font: 14px 'Roboto';
        position: relative;
        top: 10px;
    }

    .text-question,
    .text-expl,
    .text-expl2,
    .text-expl3 {
        font: 14px "Gotham Medium";
        margin-top: 20px;
        text-transform: none;
    }

    .block-question,
    .block-expl,
    .block-expl2,
    .block-expl3 {
        margin-top: 0;
    }

    .block-expl .svg-question,
    .block-expl2 .svg-question,
    .block-expl3 .svg-question {
        width: 20px;
        height: 15px;
        margin-top: 20px;
    }

    .block-question .svg-question {
        margin-top: 20px;
    }

    .space-question {
        width: 100%;
        height: 40px;
    }

    .block-forms {
        padding: 35px 25px 15px 25px;
    }

    .menu-title--details {
        font: 11px "Gotham Medium";
        top: -5px;
        right: -15px;
    }

    .menu-title--details span.close-details {
        right: -35px;
    }

    .section-group {
        margin-top: 3rem;
    }

    .i-form-checkbox .option-title {
        font: 14px "Metronic Slab Pro Light";
    }

    .name-details h2 {
        font: 24px/28px "Metronic Slab Pro Light";
    }

    .menu-title--details span {
        width: 138px;
    }

    .options-grau {
        width: 70%;
    }

    .margin-title {
        margin-bottom: 20px;
    }
}

@media (max-width: 440px) {
    .menu-title--details {
        top: -5px;
        right: -15px;
    }
}

@media (max-width: 375px) {
    .secFinan-info--label {
        font: 11px/12px 'Gotham Medium';
    }
}

//Confirmacao dados

.menu-confirmacao-dados {
    h2 {
        font: 24px 'Metronic Slab Pro Regular';
        color: $PRIMARY_COLOR;
        text-align: center;
    }
}

.sections-confirmacao {
    border: solid 1px map_get($COLORS_GREY, tertiary);
    padding: 25px 35px;
    margin-top: 4em;
}

.header-confirmacao {
    display: flex;
    align-items: center;
}

.label-confirm-dados {
    font: 16px/20px 'Gotham Medium';
    color: map_get($COLORS_GREY, primary);
    text-transform: uppercase;
}

.confirm-dados {
    font: 20px/26px 'Roboto';
    color: map_get($COLORS_GREY, secondary);
}

.block-page {
    margin-top: 35px;
}

.line-dados {
    padding-bottom: 20px;
    margin-top: 20px;
    border-color: #4a4a4a;
}

.margin-line {
    margin-bottom: 15px;
}

@media (max-width: 768px) {
    .label-confirm-dados {
        font: 14px/16px "Gotham Medium";
    }

    .confirm-dados {
        font: 18px/22px "Roboto";
    }
}

@media (max-width: 500px) {
    .sections-confirmacao {
        padding: 10px 20px;
    }

    .menu-title--details {
        top: -10px;
        right: 0;
    }

    .label-confirm-dados {
        font: 12px/16px "Gotham Medium";
    }

    .confirm-dados {
        font: 18px/20px "Roboto";
    }
}





