/*Colors*/
/*Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@font-face {
  font-family: "Gotham Book";
  src: url("/dist/desktop/fonts/gothamhtf-book-webfont.ttf");
}
@font-face {
  font-family: "Gotham Medium";
  src: url("/dist/desktop/fonts/gothamhtf-medium-webfont.ttf");
}
@font-face {
  font-family: "Metronic Slab Pro Regular";
  src: url("/dist/desktop/fonts/Metronic-Slab-Pro-Regular.otf");
}
@font-face {
  font-family: "Metronic Slab Pro Light";
  src: url("/dist/desktop/fonts/Metronic-Slab-Pro-Light.otf");
}
body {
  background: #011425 url("image/background.png") center no-repeat;
  background-attachment: fixed;
  font: 14px/22px "Gotham HTF Book";
  min-height: 100vh;
  overflow-x: hidden;
  width: 100%;
}

.apresentacao h2 {
  font: 38px/42px "Metronic Slab Pro Regular";
  color: #29F4D5;
  text-align: center;
  padding-bottom: 20px;
}

.content-apresentacao {
  padding: 30px 0;
}
.content-apresentacao p {
  font: 20px/24px "Roboto";
  text-align: center;
  color: #91A3AD;
}
.content-apresentacao .text-space {
  padding-top: 10px;
}
.content-apresentacao .apresentacao-text {
  padding: 30px 0 40px 0;
  max-width: 780px;
  margin: 0 auto;
}
.content-apresentacao .apresentacao-text p {
  font: 18px/24px "Roboto";
}
.content-apresentacao .apresentacao-text .text-bottom {
  font: 20px/24px "Roboto";
  color: #E4E4E4;
}
.content-apresentacao .text-button {
  font: 18px/26px "Roboto";
  padding: 0 0 60px 17px;
}
.content-apresentacao .text-button .link-upload {
  color: #29F4D5;
  text-decoration: underline;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.content-apresentacao .text-button .link-upload:hover {
  color: #E4E4E4;
}
.content-apresentacao .btn-iniciaApp {
  font: 18px/24px "Gotham Medium";
  color: #29F4D5 !important;
  text-align: center;
  width: 52%;
  background-color: transparent !important;
  border: solid 2px #29F4D5;
}
.content-apresentacao .btn-iniciaApp:hover {
  color: #000000 !important;
  border: solid 2px #29F4D5;
  background-color: #29F4D5 !important;
}

.list-item-central {
  max-width: 650px;
  margin: 0 auto;
}
.list-item-central li {
  text-transform: uppercase;
  list-style: none;
  display: flex;
}
.list-item-central li:first-child {
  margin-bottom: 40px;
}
.list-item-central li .number {
  font: 28px "Metronic Slab Pro Light";
  color: #29F4D5;
  width: 64px;
  height: 64px;
  padding: 10px 20px;
  text-align: center;
  margin-right: 25px;
  border: solid 1px #485156;
}
.list-item-central li .number.first {
  position: relative;
}
.list-item-central li .number.first:after {
  content: "";
  width: 1px;
  height: 47px;
  background-color: #485156;
  position: absolute;
  top: 100%;
  left: 50%;
}
.list-item-central li .list-title {
  font: 26px/28px "Metronic Slab Pro Light";
  text-align: left;
}
.list-item-central li .list-title span {
  font: 18px/22px "Metronic Slab Pro Light";
}

::-webkit-scrollbar-thumb {
  background: #29F4D5 !important;
}

::-webkit-scrollbar-track {
  background: #616D72;
}

@media (max-width: 375px) {
  .list-item-central li .number {
    font: 24px "Metronic Slab Pro Light";
    width: 50px;
    height: 50px;
    padding: 8px 15px;
    margin-right: 15px;
  }

  .list-item-central li .list-title span {
    font: 16px/22px "Metronic Slab Pro Light";
  }

  .list-item-central li:first-child {
    margin-bottom: 30px;
  }

  .list-item-central li .number.first:after {
    height: 79px;
  }

  .list-item-central li .list-title {
    font: 20px/28px "Metronic Slab Pro Light";
  }

  .content-apresentacao .text-button {
    text-align: left;
    padding: 0 0 40px 60px;
  }

  .content-apresentacao .apresentacao-text {
    padding: 30px 0 20px 0;
  }

  .content-apresentacao .btn-iniciaApp {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .content-apresentacao p {
    text-align: left;
  }

  .content-apresentacao .btn-iniciaApp {
    width: 100%;
  }

  .list-item-central li .number.first:after {
    height: 75px;
  }

  .content-apresentacao .text-button {
    padding: 20px 0 60px 81px;
  }
}
@media (max-width: 375px) {
  .content-apresentacao .text-button {
    padding: 20px 0 30px 0;
  }
}