@{
    ViewBag.Title = "Login";
}

<style>
    body, html {
        height: 100%;
        padding-bottom: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .btn-primary {
        font-weight: bold;
    }

    .register {
        color: #FFFF;
        background-color: #ff0000;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 15px;
        padding-right: 15px;
    }

        .register:hover {
            color: #FFFF;
            background-color: #ca0000;
        }

    .forgotPassword {
        color: #FFFF;
        background-color: transparent;
    }

        .forgotPassword:hover {
            color: #FFFF;
            text-decoration: underline;
        }
</style>

@{
    ViewBag.Title = "Login";
}

<div class="container container-center">
    <div class="row justify-content-center">
        <div>
            <div class="modal-titulo"> <h2 class="text-center">Login</h2></div>
           
            @if (ViewBag.SuccessMessage != null)
            {
                <div class="alert alert-success d-flex align-items-center" role="alert">
                    <i class="bi bi-check-circle"></i>
                    <div>
                        @ViewBag.SuccessMessage
                    </div>
                </div>
            }
            @if (ViewBag.ErrorMessage != null)
            {
                <div class="alert alert-danger d-flex align-items-center" role="alert">
                    <i class="bi bi-exclamation-diamond"></i>
                    <div>
                        @ViewBag.ErrorMessage
                    </div>
                </div>
            }
            <form method="post" action="~/Account/Login">
                <div class="mb-3">
                    <label for="login" class="form-label text-light">Usuário</label>
                    <input type="text" class="form-control" id="login" name="login" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label text-light">Senha</label>
                    <input type="password" class="form-control" id="senha" name="senha" required>
                </div>
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <div class="mt-3 btn-container">
                <a href="~/Account/ForgotPassword" class="btn forgotPassword">Esqueci minha senha</a>
                <a href="~/Account/Register" class="btn register">Cadastrar</a>
            </div>
        </div>
    </div>
</div>
