@{
    ViewData["Title"] = "Contatos";
}

<main>
    <div id="alert-helper" style="z-index: 99999999;"></div>
    <h1><span class="fa fa-file-o"></span>Polaris Contacts</h1>

    @if (TempData["Message"] != null && Convert.ToBoolean(TempData["ErrorMessage"]) == true)
    {
        <div class="grid">
            <div class="box">
                <strong>@TempData["Message"]</strong>
            </div>
        </div>
    }

</main>