@import '../variables';

.modal {
    top: 50% !important;    
    transform: translateY(-50%) !important;    
}

.bootbox-close-button {
    &.close {
        font-family: 'Gotham Medium';
        color: $PRIMARY_COLOR !important;
        opacity: 1;
        font-size: 30px;
        text-shadow: none;
        position: relative;
        font-weight: normal;

        &:before {
            content: 'FECHAR';
            font-size: 16px;
            position: absolute;
            top: 36%;
            right: 37px;
            color: $PRIMARY_COLOR;
        }

        &:focus {
            outline: thin dotted;
            outline: 0px auto -webkit-focus-ring-color;
            outline-offset: 0px;
        }
    }
}

.modal-open {
    background: $BLACK_LIGHT;
}

.modal-title {
    font: 30px/33px 'Gotham Medium';
    color: $PRIMARY_COLOR;
    text-transform: uppercase;

    span {
        font: 20px/22px 'Gotham Book';
        display: block;
        padding-left: 50px;
        position: relative;

        &:before {
            content: '';
            position: absolute;
            top: 11px;
            left: 0;
            width: 44px;
            height: 1px;
            background-color: $PRIMARY_COLOR;
        }
    }
}

@media (max-width: 500px) {
    .modal-title {
        margin-top: 50px;
    }
}

.modal-content {
    background-color: $BLACK_LIGHT;
    border: solid 1px $BLACK_LIGHT;
    color: #ffffff;
    border-radius: 0;
}

.modal-content .i-form-input {
    color: #000000;
}

.modal-header {
    border-bottom: 0;
    padding: 2rem 3rem 0
}

.modal-header h4 {
    color: $PRIMARY_COLOR;
    font: 20px 'Gotham HTF Bold';
    text-transform: uppercase;
}

.modal-body {
    padding: 1rem 2rem;
}

.modal-footer {
    border-top: none;
    padding: .5rem 2rem 1rem;
}

/*Modal Home - Docs Necessários*/
.modal-docs-necessarios {
    display: flex;
    justify-content: center;

    .content-modal {
        max-width: 650px;
        margin: 30px 0;

        div {            
            margin-bottom: 10px;
        }

        p {
            font: 16px/22px 'Gotham Book';
            color: map_get($COLORS_GREY, secondary);            

            span {
                font: 13px 'Gotham Book';
                color: map_get($COLORS_GREY, primary);
                display: block;
                padding-top: 7px;
            }
        }
    }
}

@media (max-width: 500px) {
    .bootbox-close-button.close {
        font-size: 20px;

        &:before {
            font-size: 14px;
        } 
    }
}
